<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargador de videos de youtube</title>
</head>
<body>
    
    <h1>No manchen genteee!!! Jesusito presentaaa <b>el descargador de vidios de youtubeee :o</b> si, ya hay en México </h1>

    <form action="{{ url_for('index') }}" method="post">
        <input type="text" placeholder="Pon el link owo" name="url" required>
        <br>
        <input type="submit" value="Descargar owo">
    </form>

</body>
</html>
