<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargador de videos de youtube</title>
</head>
<body>
    <h2>{{ filetitle }}</h2>
    <form action="{{ url_for('descargar_video') }}" method="post">
        <input type="hidden" value="{{ filepath }}" name="filepath">
        <br>
        <input type="submit" value="Descargar">
    </form>
</body>
</html>
